<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>메인 페이지</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>

  <div class="content" id="song-list">
    <h2>최신 재생곡 목록</h2>
    <div id="song-list-container">
      <div th:each="record : ${records.items}" class="record" th:data-song-id="${record.songId}">
        <div class="record-left">
          <img th:src="${(record.image == null || record.image == 'null' || record.image == '')
                            ? '/images/basicProfileCat.png'
                            : record.image}" alt="앨범" class="album-cover" />
          <div class="song-info">
            <div class="song-title" th:text="${record.title}">노래 제목</div>
            <div class="song-uploader" th:text="${record.uploader}">가수 이름</div>
          </div>
        </div>

        <button class="like-btn" th:classappend="${record.liked} ? ' liked' : ''" th:data-song-id="${record.songId}"
          onclick="toggleLike(this)">
        </button>
      </div>
    </div>
  </div>

  <script src="/js/songLike.js"></script>
  <script src="/js/recentSongs.js"></script>
</body>

</html>